.header{
    height: 45px;
    width: 100%;
    background: #001529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.header span{
    color: #fff;
}
.header a{
    text-decoration: none;
    color: #fff !important;
}
.header-right{
    width: 45px;
    padding: 3px;
    height: 100%;
    text-align: center;
    position: relative;
}
.header-right img{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}