.header{
    height: 45px;
    width: 100%;
    background: #001529;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header span{
    color: #fff;
}
.header a{
    text-decoration: none;
    color: #fff !important;
}