.login-body{
    background: #c9c9c9;
    height: 100%;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    padding-top: 120px;
}

.login-content{
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    padding: 10px;
    text-align: center;
}
.login-button{
    height: 36px;
    border-radius: 2px;
    background: rgb(0, 188, 212);;
}